body {
    opacity: 1;
    background-size: cover;
    font-family: 'Roboto', sans-serif;}
  
  .Sem {
    bottom: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: #e7ffec;
    color: #000000;
    font-size: 70%;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 2rem;
    width: 150px;
    height: 50px;
    /* margin: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.2s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  }
  
  .Sem:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
  }
  
  .dropdown {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #dffeeb;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
    transition-delay: 5s; 
  }
  
  .dropdown-content a {
    color: rgb(45, 87, 26);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-content a:hover {
    background-color: #b9f09d;
    border-radius: 10px;
  }
  
  .Full_mark {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    color: #000000;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .back-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: rgb(3, 0, 0);
    padding: 5px;
    font-weight: bold;
    border-radius: 20%;
    text-transform: uppercase;
    background-color: rgb(201, 125, 125);
    text-decoration: none;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, 1fr); /* 4 rows */
    gap: 5px; /* Gap between grid items */
    justify-items: center;
  }