.admin-btn{
    padding: 5px;
    text-decoration:none;
    border: none;
    font-size: 25px;
    color: rgb(97, 78, 78);
    cursor: pointer;
    border-radius: 10%;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
      bottom: 20px;
      right: 20px;
}
.admin-btn:hover {
    background-color: #e0e0e0;
  }