@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
  }
  
  .header .logo {
    font-size: 50px;
    font-family: 'Sriracha', cursive;
    color: #000;
    text-decoration: none;
    margin-left: 30px;
  }
  
  .nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;
    margin-right: 20px;
  }
  
  .nav-items a {
    text-decoration: none;
    color: #000;
    padding: 35px 20px;
  }

  .profile {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    font-size: 18px;
    margin-top: 15px;
    font-family: cursive;
  }
  
  .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .profile p {
    margin: 0;
    font-weight: bold;
  }

  .logout-btn {
    position: absolute;
    top: 40px;
    right: 35px;
    display: block;
    padding: 5px;
    background-color: #f0f0f0;
    border: none;
    font-size: 12px;
    color: rgb(108, 92, 92);
    cursor: pointer;
  }
  
  .logout-btn:hover {
    background-color: #ddd;
  }