body {
    
    background-image: url(https://mcdn.wallpapersafari.com/medium/70/32/4t9v8e.png);
    opacity: 1;
    background-size: cover;
    
  }
  
  .Sem {
 
    font-family: "Times New Roman", Times, serif;
    background-color: #104054;
    color: #85c3e4;
    font-size: 70%;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 5px;
  }

    
    .dropdown {
      position: relative;
      display: inline-block;
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #044e6c;
      min-width: 200px;
      box-shadow: 1px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 20px;
    
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
  }
  
  .dropdown-content a {
      color: rgb(255, 227, 227);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      font-size: medium;
  }
  
  .dropdown-content a:hover {
      background-color: #759ac9;
  }
    .Full_mark{
      
        font-family: "Times New Roman", Times, serif;
        
        padding: 2px;
        color: #e0e6e2;
        text-align: center;
        font-size: 1.25em;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
       
      }
    